<div id="header" class="transparent-header">
    <div class="header-main header-main-ev_dealer header-listing-fixed">
        <div class="container">
            <div class="row header-row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="stm-header-left">
                        <div class="logo-main" style="margin-top: 4px">
                            <a class="bloglogo" href="https://auction.iauto.no">
                                <img src="/assets/logo.png" style="width: px" title="Home" alt="Logo" />
                            </a>
                            <div class="mobile-menu-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-holder" style="height: 379px">
                        <div class="mobile-menu-wrap">
                            <ul class="header-menu clearfix">
                                <li
                                        id="menu-item-919"
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-home
                          current-menu-item
                          page_item page-item-22
                          current_page_item
                          menu-item-919
                        "
                                >
                                    <a
                                            href="https://auction.iauto.no"
                                            aria-current="page"
                                    >Home</a
                                    >
                                </li>
                                <li
                                        id="menu-item-918"
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-has-children menu-item-918
                        "
                                >
                                    <a href="https://auction.iauto.no"
                                    >Inventory</a
                                    ><span class="arrow"><i class="fas fa-angle-right"></i></span>
                                    <ul class="sub-menu">
                                        <li
                                                id="menu-item-920"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-920
                            "
                                        >
                                            <a href="https://auction.iauto.no"
                                            >Standard Inventory</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-921"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-921
                            "
                                        >
                                            <a
                                                    href="/"
                                            >Modern Inventory</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-922"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-922
                            "
                                        >
                                            <a
                                                    href="/"
                                            >Sold Inventory</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-902"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-902
                            "
                                        >
                                            <a
                                                    href="/"
                                            >Single Inventory Page</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li
                                        id="menu-item-900"
                                        class="
                          menu-item
                          menu-item-type-custom
                          menu-item-object-custom
                          menu-item-has-children
                          menu-item-900
                        "
                                >
                                    <a href="/">Pages</a
                                    ><span class="arrow"><i class="fas fa-angle-right"></i></span>
                                    <ul class="sub-menu">
                                        <li
                                                id="menu-item-1280"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-1280
                            "
                                        >
                                            <a
                                                    href="/"
                                            >Auto Loan Calculator</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1305"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-1305
                            "
                                        >
                                            <a href="/"
                                            >Services</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-915"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-915
                            "
                                        >
                                            <a href="/"
                                            >About us</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1321"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-1321
                            "
                                        >
                                            <a href="/"
                                            >Vehicle Comparison</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1284"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-1284
                            "
                                        >
                                            <a href="/"
                                            >Sell a car</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-923"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-923
                            "
                                        >
                                            <a href="/">FAQ</a>
                                        </li>
                                        <li
                                                id="menu-item-1313"
                                                class="
                              menu-item
                              menu-item-type-post_type
                              menu-item-object-page menu-item-1313
                            "
                                        >
                                            <a href="/"
                                            >Coming soon</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li
                                        id="menu-item-901"
                                        class="
                          menu-item
                          menu-item-type-custom
                          menu-item-object-custom
                          menu-item-has-children
                          menu-item-901
                          stm_megamenu stm_megamenu__boxed
                        "
                                >
                                    <a href="/">Mega Menu</a
                                    ><span class="arrow"><i class="fas fa-angle-right"></i></span>
                                    <ul class="sub-menu" style="display: none">
                                        <li
                                                id="menu-item-903"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-903
                            "
                                        >
                                            <div class="menu-title heading-font">Special offers</div>
                                            <div class="stm-special-offers">
                                                <div class="special-wrap">
                                                    <div class="img-wrap">
                                                        <a
                                                                href="https://motors.stylemixthemes.com/ev-dealership/listings/toyota-prius/"
                                                        ><img src="/assets/Toyota-Prius-2019-1600-01-120x120.jpg"
                                                        /></a>
                                                    </div>
                                                    <div class="title-price-wrap">
                                                        <div class="car-title">
                                                            <a
                                                                    href="https://motors.stylemixthemes.com/ev-dealership/listings/toyota-prius/"
                                                            >Toyota Prius</a
                                                            >
                                                        </div>
                                                        <div class="prices">
                                    <span class="normal_price normal_font has_sale">$32 650</span
                                    ><span class="sale_price heading-font">$30 999</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="special-wrap">
                                                    <div class="img-wrap">
                                                        <a
                                                                href="https://motors.stylemixthemes.com/ev-dealership/listings/mercedes-benz-2023-eqe/"
                                                        ><img src="/assets/02-120x120.jpg"
                                                        /></a>
                                                    </div>
                                                    <div class="title-price-wrap">
                                                        <div class="car-title">
                                                            <a
                                                                    href="https://motors.stylemixthemes.com/ev-dealership/listings/mercedes-benz-2023-eqe/"
                                                            >Mercedes-Benz 2023 EQE</a
                                                            >
                                                        </div>
                                                        <div class="prices">
                                    <span class="normal_price normal_font has_sale">$65 000</span
                                    ><span class="sale_price heading-font">$58 900</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li
                                                id="menu-item-904"
                                                class="
                              menu-item
                              menu-item-type-custom
                              menu-item-object-custom
                              menu-item-has-children
                              menu-item-904
                            "
                                        >
                                            <div class="menu-title heading-font">New vehicles</div>
                                            <ul class="sub-menu">
                                                <li
                                                        id="menu-item-905"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-905
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?condition=new"
                                                    >New vehicles</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-906"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-906
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?condition=new&amp;make=tesla"
                                                    >Tesla cars</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-907"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-907
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?body=sedan"
                                                    >Sedan cars</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-908"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-908
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?condition=new&amp;make=bmw"
                                                    >BMW cars</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                                id="menu-item-909"
                                                class="
                              menu-item
                              menu-item-type-custom
                              menu-item-object-custom
                              menu-item-has-children
                              menu-item-909
                            "
                                        >
                                            <div class="menu-title heading-font">Quick search</div>
                                            <ul class="sub-menu">
                                                <li
                                                        id="menu-item-910"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-910
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?condition=used"
                                                    >Used vehicles</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-911"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-911
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?exterior-color=black"
                                                    >Black cars</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-912"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-912
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?min_price=2000&amp;max_price=30500"
                                                    >Cheap cars</a
                                                    >
                                                </li>
                                                <li
                                                        id="menu-item-913"
                                                        class="
                                  menu-item
                                  menu-item-type-custom
                                  menu-item-object-custom
                                  menu-item-913
                                "
                                                >
                                                    <a
                                                            href="https://motors.stylemixthemes.com/ev-dealership/inventory/?ca-year=2022"
                                                    >2022 cars</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                                id="menu-item-914"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-914
                            "
                                        >
                                            <div class="menu-title heading-font">Contacts</div>
                                            <ul class="mm-list">
                                                <li class="normal_font">
                                                    <i class="fas fa-envelope"></i>info@stylemixthemes.com
                                                </li>
                                                <li class="normal_font">
                                                    <i class="fas fa-phone"></i>+1 628 123 4000
                                                </li>
                                                <li class="normal_font">
                                                    <i class="fas fa-map-marker"></i>1010 Moon ave., NY 10018 US.
                                                </li>
                                                <li class="normal_font">
                                                    <i class="fas fa-clock"></i>Mon-Sat: 8:00AM-6:00PM
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                        id="menu-item-916"
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-has-children menu-item-916
                        "
                                >
                                    <a href="https://motors.stylemixthemes.com/ev-dealership/blog/">Blog</a
                                    ><span class="arrow"><i class="fas fa-angle-right"></i></span>
                                    <ul class="sub-menu">
                                        <li
                                                id="menu-item-1327"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-1327
                            "
                                        >
                                            <a
                                                    href="https://motors.stylemixthemes.com/ev-dealership/blog/?sidebar-position=none"
                                            >Blog – Grid Full Width</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1323"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-1323
                            "
                                        >
                                            <a
                                                    href="https://motors.stylemixthemes.com/ev-dealership/blog/?view-type=list&amp;show-title-box=hide&amp;show-breadcrumbs=yes"
                                            >List With Right Sidebar</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1325"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-1325
                            "
                                        >
                                            <a
                                                    href="https://motors.stylemixthemes.com/ev-dealership/2021/10/28/we-strive-to-deliver-a-superior-experience-with-motors-rock/"
                                            >Post With Left Sidebar</a
                                            >
                                        </li>
                                        <li
                                                id="menu-item-1326"
                                                class="
                              menu-item menu-item-type-custom menu-item-object-custom menu-item-1326
                            "
                                        >
                                            <a
                                                    href="https://motors.stylemixthemes.com/ev-dealership/blog/?view-type=list&amp;show-title-box=hide&amp;show-breadcrumbs=yes"
                                            >Post With Right Sidebar</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li
                                        id="menu-item-917"
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-917
                        "
                                >
                                    <a href="https://motors.stylemixthemes.com/ev-dealership/shop/">Shop</a>
                                </li>
                                <li
                                        id="menu-item-924"
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-924
                        "
                                >
                                    <a href="https://motors.stylemixthemes.com/ev-dealership/contact/"
                                    >Contact</a
                                    >
                                </li>

                                <li>
                                    <a
                                            class="lOffer-compare"
                                            href="https://motors.stylemixthemes.com/ev-dealership/compare/"
                                    >
                                        Compare
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 header-right-wrap">
                    <div class="stm-header-right">
                        <div class="main-menu">
                            <ul class="header-menu clearfix">
                                <li
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-home
                          current-menu-item
                          page_item page-item-22
                          current_page_item
                          menu-item-919
                        "
                                >
                                    <a
                                            href="https://auction.iauto.no"
                                            aria-current="page"
                                    >Home</a
                                    >
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-has-children menu-item-918
                        "
                                >
                                    <a href="https://auction.iauto.no"
                                    >Inventory</a
                                    >
                                    <!-- <ul class="sub-menu">
                                      <li
                                        class="
                                          menu-item
                                          menu-item-type-post_type
                                          menu-item-object-page menu-item-920
                                        "
                                      >
                                        <a href="https://auction.iauto.no"
                                          >Standard Inventory</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item
                                          menu-item-type-post_type
                                          menu-item-object-page menu-item-921
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Modern Inventory</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item
                                          menu-item-type-post_type
                                          menu-item-object-page menu-item-922
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Sold Inventory</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-902
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Single Inventory Page</a
                                        >
                                      </li>
                                    </ul> -->
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-custom
                          menu-item-object-custom
                          menu-item-has-children
                          menu-item-900
                        "
                                >
                                    <a href="https://auction.iauto.no">Pages</a>
                                    <!-- <ul class="sub-menu">
                                      This is pages we can visite here.
                                    </ul> -->
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-custom
                          menu-item-object-custom
                          menu-item-has-children
                          menu-item-901
                          stm_megamenu stm_megamenu__boxed
                        "
                                >
                                    <a href="https://auction.iauto.no">Mega Menu</a>
                                    <!-- <ul class="sub-menu">
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-903
                                        "
                                      >
                                        <div class="menu-title heading-font">Special offers</div>
                                        <div class="stm-special-offers">
                                          <div class="special-wrap">
                                            <div class="img-wrap">
                                              <a
                                                href="https://auction.iauto.no"
                                                ><img src="/assets/02-120x120.jpg"
                                              /></a>
                                            </div>
                                            <div class="title-price-wrap">
                                              <div class="car-title">
                                                <a
                                                  href="https://auction.iauto.no"
                                                  >Mercedes-Benz 2023 EQE</a
                                                >
                                              </div>
                                              <div class="prices">
                                                <span class="normal_price normal_font has_sale">$65 000</span
                                                ><span class="sale_price heading-font">$58 900</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="special-wrap">
                                            <div class="img-wrap">
                                              <a
                                                href="https://auction.iauto.no"
                                                ><img src="/assets/Jaguar-I-Pace-2019-1600-05-120x120.jpg"
                                              /></a>
                                            </div>
                                            <div class="title-price-wrap">
                                              <div class="car-title">
                                                <a
                                                  href="https://auction.iauto.no"
                                                  >Jaguar I Pace</a
                                                >
                                              </div>
                                              <div class="prices">
                                                <span class="normal_price normal_font has_sale">$77 855</span
                                                ><span class="sale_price heading-font">$75 000</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li
                                        class="
                                          menu-item
                                          menu-item-type-custom
                                          menu-item-object-custom
                                          menu-item-has-children
                                          menu-item-904
                                        "
                                      >
                                        <div class="menu-title heading-font">New vehicles</div>
                                        <ul class="sub-menu">
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-905
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >New vehicles</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-906
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >Tesla cars</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-907
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >Sedan cars</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-908
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >BMW cars</a
                                            >
                                          </li>
                                        </ul>
                                      </li>
                                      <li
                                        class="
                                          menu-item
                                          menu-item-type-custom
                                          menu-item-object-custom
                                          menu-item-has-children
                                          menu-item-909
                                        "
                                      >
                                        <div class="menu-title heading-font">Quick search</div>
                                        <ul class="sub-menu">
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-910
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >Used vehicles</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-911
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >Black cars</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-912
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >Cheap cars</a
                                            >
                                          </li>
                                          <li
                                            class="
                                              menu-item
                                              menu-item-type-custom
                                              menu-item-object-custom
                                              menu-item-913
                                            "
                                          >
                                            <a
                                              href="https://auction.iauto.no"
                                              >2022 cars</a
                                            >
                                          </li>
                                        </ul>
                                      </li>
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-914
                                        "
                                      >
                                        <div class="menu-title heading-font">Contacts</div>
                                        <ul class="mm-list">
                                          <li class="normal_font">
                                            <i class="fas fa-envelope"></i>info@stylemixthemes.com
                                          </li>
                                          <li class="normal_font">
                                            <i class="fas fa-phone"></i>+1 628 123 4000
                                          </li>
                                          <li class="normal_font">
                                            <i class="fas fa-map-marker"></i>1010 Moon ave., NY 10018 US.
                                          </li>
                                          <li class="normal_font">
                                            <i class="fas fa-clock"></i>Mon-Sat: 8:00AM-6:00PM
                                          </li>
                                        </ul>
                                      </li>
                                    </ul> -->
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-has-children menu-item-916
                        "
                                >
                                    <a href="https://auction.iauto.no">Blog</a>
                                    <!-- <ul class="sub-menu">
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-1327
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Blog – Grid Full Width</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-1323
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >List With Right Sidebar</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-1325
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Post With Left Sidebar</a
                                        >
                                      </li>
                                      <li
                                        class="
                                          menu-item menu-item-type-custom menu-item-object-custom menu-item-1326
                                        "
                                      >
                                        <a
                                          href="https://auction.iauto.no"
                                          >Post With Right Sidebar</a
                                        >
                                      </li>
                                    </ul> -->
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-917
                        "
                                >
                                    <a href="https://auction.iauto.no">Shop</a>
                                </li>
                                <li
                                        class="
                          menu-item
                          menu-item-type-post_type
                          menu-item-object-page menu-item-924
                        "
                                >
                                    <a href="https://auction.iauto.no"
                                    >Contact</a
                                    >
                                </li>
                            </ul>
                        </div>

                        <div class="head-phone-wrap">
                            <div class="ph-title heading-font">Call-centre:</div>
                            <div class="phone heading-font">(878) 967-4455</div>
                        </div>

                        <div class="stm-compare">
                            <a
                                    class="lOffer-compare"
                                    href="https://auction.iauto.no"
                                    title="View compared items"
                            >
                                <i class="icon-ap-compare" ></i>
                                <span class="list-badge">
                        <span class="stm-current-cars-in-compare">0</span>
                      </span>
                            </a>
                        </div>
                        <div class="pull-right hdn-767">
                            <div class="help-bar-shop">
                                <a
                                        href="https://auction.iauto.no"
                                        title="Watch shop items"
                                >
                                    <i class="stm-icon-shopping-cart-1" ></i>
                                    <span class="list-badge">
                          <span class="stm-current-items-in-cart"> </span>
                        </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
    </div>
    <!--header-main-->
</div>